.container {
  width: 270px;
  padding: 10px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  @include Tablet {
    width: 28%;
    min-width: 230px;
  }
  @include Mobile {
    width: 100%;
    gap: 30px;
    padding-bottom: 0;
  }
}

.top-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  p {
    @include text-type("p_md");
    flex-shrink: 0;
  }

  @include Mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    :nth-child(3) {
      grid-column: 1 / 3;
    }
  }
}

.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include Mobile {
    flex-direction: column-reverse;
  }
}

.text-flex {
  height: 26px;
  display: flex;
  &.between {
    justify-content: space-between;
  }
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 10px;
  span {
    @include text-type("p_sm");
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 4px;
    word-break: keep-all;
    color: color(black, 30);
  }
}

.icon-flex {
  height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  svg {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  &.non-clickable {
    svg {
      cursor: default;
    }
  }
}

.progress-bar {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: color(black, 0);
  margin-top: 20px;
  div {
    height: 5px;
    border-radius: 5px;
    background-color: color(theme, main);
  }
}

.time-text {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 6px;
  span {
    @include text-type("p_md");
    font-variant-numeric: tabular-nums;
  }

  &.on {
    span {
      display: block;
    }
  }
  &.off {
    span {
      display: none;
    }
  }

  @include Mobile {
  }
}

.control-button {
  width: 100%;
  padding: 12px 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  * {
    cursor: pointer;
  }
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  p {
    @include text-type("title_sm");
  }

  &.on {
    background-color: color(black, 70);
  }
  &.off {
    background-color: color(theme, main);
  }
}
