.container {
  width: 91px;
  height: 36px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.clickable,
.clickable * {
  cursor: pointer;
}

.image-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  @include text-type(p_sm);
}
.name :nth-child(1) {
  font-weight: 500;
}
