.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 70px;
  h1 {
    @include text-type("title_lg");
  }
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include Mobile {
    align-items: flex-end;
  }
  & > :nth-child(2) {
    display: none;
    @include Mobile {
      display: flex;
    }
  }
}

.question-header {
  width: 100%;
  &,
  & > div {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  justify-content: space-between;
  & > div > p {
    @include text-type("title_md");
  }
  @include Mobile {
    & > div > p ~ div {
      display: none;
    }
  }
}
