/* global color variables */
$common-colors: (
  black-0: #ffffff,
  black-10: #f4f2f2,
  black-30: #d7d1d1,
  black-50: #9f9999,
  black-70: #716c6c,
  black-90: #444444,
  black-100: #333333,
  result-all: #43c9b9,
  result-half: #f1d079,
  result-none: #f44c55,
);
:root {
  @each $name, $color in $common-colors {
    --color-#{$name}: #{$color};
  }
}

/* theme color variables */
$theme-colors: (
  pink-light: #fef3f7,
  pink-main: #f88dad,
  pink-bright: #ef4482,
  pink-transparent: rgba(248, 141, 173, 0.4),
  blue-light: #f1f6fc,
  blue-main: #79aae3,
  blue-bright: #196fd2,
  blue-transparent: rgba(121, 170, 227, 0.4),
  green-light: #f5fbf1,
  green-main: #9cc37d,
  green-bright: #5a852f,
  green-transparent: rgba(156, 195, 125, 0.4),
  beige-light: #fff1e1,
  beige-main: #e4be92,
  beige-bright: #c18d3d,
  beige-transparent: rgba(228, 190, 146, 0.4),
);
@mixin set-theme($name) {
  @each $type in (light, main, bright, transparent) {
    $color-value: map-get($theme-colors, #{$name}-#{$type});
    --color-theme-#{$type}: #{$color-value};
  }
}
body {
  @include set-theme(pink);
}
[data-theme="blue"] body {
  @include set-theme(blue);
}
[data-theme="green"] body {
  @include set-theme(green);
}
[data-theme="beige"] body {
  @include set-theme(beige);
}

/* reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: color(black, 100);
  color: color(black, 0);
}
a {
  color: inherit;
  text-decoration: none;
}
div,
p,
span {
  cursor: default;
}

/* sweetalert custom */
.swal2-container {
  padding: 32px !important;
}
.swal2-modal {
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.3);
}
.swal2-title {
  word-break: keep-all !important;
  line-height: 120% !important;
}
.swal2-html-container {
  word-break: keep-all !important;
}
.swal2-default-outline:focus {
  box-shadow: 0 0 0 3px color(theme, transparent) !important;
}
.swal2-loading {
  margin-top: 40px;
}
.swal2-loader {
  border-color: color(theme, main) color(theme, transparent)
    color(theme, transparent) color(theme, transparent);
}
.swal2-timer-progress-bar {
  background: color(theme, transparent);
}
.swal2-emphasis {
  font-weight: 500;
  font-variant-numeric: tabular-nums;
  color: color(theme, main);
}
