@import "./_color.scss";

.container {
  display: flex;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: color(black, 100);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);
  &,
  * {
    cursor: pointer;
  }
  svg {
    flex-shrink: 0;
  }
}

.circle {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  margin: 5px;
}

.text-area {
  display: flex;
  flex-direction: column;
  gap: 4px;
  h5 {
    @include text-type("p_lg_semibold");
  }
  p {
    @include text-type("p_md");
    word-break: keep-all;
  }
}

@each $color in (pink, blue, green, beige) {
  .#{$color} {
    .circle {
      @include get-gradient($color);
    }
    h5 {
      color: get-color($color, main);
    }
    transition: 0.1s;
    &:hover,
    &.clicked {
      background-color: get-color($color, main);
      box-shadow: 0px 0px 10px 1px get-color($color, main);
      h5 {
        color: get-color($color, light);
      }
    }
  }
}
