.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: color(black, 90);
  padding: 30px;
  border-radius: 10px;
}

.paragraph {
  display: flex;
  gap: 8px;
  p {
    @include text-type("p_lg");
    color: color(black, 0);
  }
}
