.container {
  width: 100%;
  border-radius: 4px;
  table-layout: fixed;
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 1px color(black, 70);

  thead {
    background-color: rgba(0, 0, 0, 0.05);
  }
  thead th {
    @include text-type("p_md_semibold");
    color: color(theme, light);
  }
  tbody {
    background-color: rgba(255, 255, 255, 0.01);
  }
  th {
    height: 36px;
    border: 1px solid color(black, 70);
    vertical-align: middle;
  }
}

.graph-th {
  vertical-align: top !important;
}
