.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  gap: 20px;
  border-radius: 10px;
  background-color: color(theme, light);
  cursor: pointer;
  * {
    cursor: pointer;
  }
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  p {
    @include text-type("title_md");
    text-align: center;
    color: color(black, 100);
  }

  svg {
    flex-shrink: 0;
  }

  &.back {
    flex-direction: row-reverse;
    svg {
      transform: rotate(180deg);
    }
  }
}
